{% extends 'base.html' %}
{% block app_content %}
<div class="page-header">
  <h1>All Position Types <small>Subtext for header</small></h1>
</div>
<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.position_name.label }}<br>
            {{ form.position_name(size=32) }}<br>
            {% for error in form.position_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

<ul class="list-group">
	{% for position in positions %}
  <button type="button" class="list-group-item">
    <span class="badge">{{ position.num_players }}</span>
    {{ position.position_name }}
  </button>
  	{% endfor %}
</ul>
{% endblock %}